<form class="form-signin" action="/dropplayer/{{league.id}}/{{player.id}}" method="post">
    <div>
        <div align="center">
            <label style="font-size: 20px;">Drop Player "{{player.name}}" from your team?</label>
        </div>

        <div class="button" align="center">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </div>
</form>