<nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">
            <img src="invertedLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            eSports Fantasy
          </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Home</a>
            <a class="nav-item nav-link" href="league.html">League</a>
            <a class="nav-item nav-link" href="team.html">Team</a>
            <a class="nav-item nav-link" href="players.html">Players</a>
            
          </div>
          <a class="nav navbar-nav navbar-right">
            <a href="#">Logged in as: {{user.username}} <span class="glyphicon glyphicon-log-out"></span> Log out</a>
        </a>
        </div>
      </nav>

<!-- Ideas: Carousel,News, Activity, Account Settings? -->
      
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="ow1.jpg" alt="Slide 1">
            </div>
            <div class="item">
                <img src="ow2.jpg" alt="Slide 2">
            </div>
            <div class="item">
                <img src="ow3.jpg" alt="Slide 3">
            </div>
        </div>
        <a href="#carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <script>
      $("#carousel").carousel();
  </script>