<form action="/invite/invite" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <input type="hidden" id="leagueID" name="leagueID" value="{{league.leagueID}}">
  </div>
  <div class="button">
    <button type="submit">Invite</button>
  </div>
</form>