<table class="table">
  <thead id="teamName">
    <h1>League Name</h1>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team Name</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Team 1</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Team 2</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Team 3</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
<a href="invite.html" class="btn btn-primary" id="inviteButton">Invite a Friend</a>