<nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">
            <img src="invertedLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            eSports Fantasy
          </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/home">Home</a>
            <a class="nav-item nav-link" href="/league">League</a>
            <a class="nav-item nav-link" href="/team">Team</a>
            <a class="nav-item nav-link" href="#">Players</a>
            
          </div>
          <a class="nav navbar-nav navbar-right">
            {{#if username}}
            <a href="/logout">Logged in as: {{username}}   <span class="glyphicon glyphicon-log-out"></span> Log out</a>
            {{else}}
            <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
            {{/if}}
        </a>
        </div>
      </nav>