<nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">
            <img src="invertedLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            eSports Fantasy
          </a>
        </div>
      </nav>
      <div class="mx-auto col-sm-8 col-md-5 hide-sm">
        <div class="rounded-1 text-gray bg-gray-light py-4 px-4 px-md-3 px-lg-4"  id="signUpForm">
          <form class="home-hero-signup js-signup-form" autocomplete="off" action="/join" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Oug46X2Sq5hd/Ji42Hps2iDJMOUVMYJ+jpRqAaROcnxBZ2+j7MbofrB6fK9lwJISlA8m5+rBvkoJVNCzvFkNlQ==">              <dl class="form-group mt-0">
              <dt class="input-label">
                <label class="form-label f5" for="user[login]">Username</label>
              </dt>
              <dd>
                <auto-check src="/signup_check/username" csrf="OiuO9nBuQDNx3LYtaUMo1Xmny/KGC+BpjHrVgit38bl0mr6BSm1Ycia9BJunO2koiNlOFCpa/w3H5xNbLORrUQ==">
                  <input type="text" name="user[login]" id="user[login]" class="form-control form-control-lg input-block" placeholder="Pick a username" autofocus="" autocomplete="off" spellcheck="false" value="{{uname}}">
                </auto-check>
              </dd>
            </dl>
            <dl class="form-group">
              <dt class="input-label">
                <label class="form-label f5" for="user[email]">Email</label>
              </dt>
              <dd>
                <auto-check src="/signup_check/email" csrf="y1dNMsQcAvHIFrBSM1Vvh58M6UYfZsYrEwx7a/fkO5hDFpMBs4FlKGUqkCYUiUriyLO8xlKjsc1d/yRQm+8USw==">
                  <input type="text" name="user[email]" id="user[email]" class="form-control form-control-lg input-block js-email-notice-trigger" placeholder="you@example.com" autocomplete="off" spellcheck="false">
                </auto-check>
              </dd>
            </dl>
            <password-strength data-minimum-character-count="7" data-beginning-of-sentence="Make sure it's" data-checks="[&quot;at least 7 characters&quot;, &quot;including a number&quot;, &quot;a lowercase letter&quot;]">
              <dl class="form-group">
                <dt class="input-label">
                  <label class="form-label f5" for="user[password]">Password</label>
                </dt>
                <dd>
                  <input type="password" name="user[password]" id="user[password]" class="form-control form-control-lg input-block" placeholder="Create a password" value="{{pword}}">
                </dd>
                <p class="form-control-note">Make sure it's at least 7 characters, including a number, and a lowercase letter.</p>
              </dl>
            </password-strength>
            <input type="hidden" name="source" class="js-signup-source" value="form-home">
            <input type="text" name="required_field_cbd5" id="required_field_cbd5" hidden="hidden" class="form-control">
            <input type="hidden" name="timestamp" value="1538754185985" class="form-control">
            <input type="hidden" name="timestamp_secret" value="dad08c96b027a7b398de3bd9edcfd87691819fdd89085cca7189b96564380f75" class="form-control">

            <button class="btn btn-primary" type="submit" id="signUpButton" data-ga-click="Signup, Attempt, location:teams;">Sign up for eSports Fantasy</button>
            

        </form>      
        </div>
      </div>