<form class="form-signin" action="/startDraft/{{league.id}}" method="post">
    <div>
        <div align="center">
            <label style="font-size: 20px;">Draft will start immediately. Order will be random and snake (1-2-3-3-2-1)</label>
        </div>

        <div class="button" align="center">
            <button type="submit" class="btn btn-primary">Start</button>
        </div>
    </div>
</form>