.text-center {
    text-align: center!important;
}

.text-center{
    
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background: linear-gradient(to bottom,#fff 50%,#D1DEEC);
}

/*Background repeat fix*/
html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom,#fff 50%,#D1DEEC);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*End background repeat fix*/

.text-center {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: white;
}

.text-center, ::after, ::before {
    box-sizing: border-box;
}


/*body .text-center{
    display: block;
    margin: 8px;
}*/

.form-signin {
    
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    
    
}

.form-signin .checkbox {
    font-weight: 400;
}

.mb-4, .my-4 {
    margin-bottom: 0px;
}

 .font-weight-normal {
   font-weight: 500!important;
    color: #004C97;}

/*extra*/
.text-center {
    text-align: center!important;
}

.text-center{
    
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background: linear-gradient(to bottom,#fff 50%,#D1DEEC);
}
/*
body {
    background: linear-gradient(to bottom,#fff 50%,#D1DEEC);
    
}
*/
.text-center {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: white;
}

html, body {
    height: 100%;
}

.text-center, ::after, ::before {
    box-sizing: border-box;
}

.text-center, ::after, ::before {
    box-sizing: border-box;
}

body .text-center{
    display: block;
    margin: 8px;
}

.form-signin {
    
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    
    
}

.form-signin .checkbox {
    font-weight: 400;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.font-weight-normal {
    font-weight: 400!important;
}

.btn-primary {
    color: #fff;
    background-color: #004C97;
    border-color: #004C97;
}


button.btn.btn-lg.btn-primary.btn-block {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #004C97;
    border-color: #004C97;
    box-shadow: inset 0 1px 0 rgba(151,203,255,.15), inset 0 -1px 0 rgba(0,98,195,.6), 0 4px 16px -5px rgba(0,98,195,.5)
}

button.btn.btn-sm.btn-basic.btn-block {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 193, 193);
    font-weight: 500;
    box-shadow: inset 0 1px 0 rgba(151,203,255,.15), inset 0 -1px 0 rgba(158, 170, 182, 0.6), 0 4px 16px -5px rgba(169, 178, 187, 0.5)
}

button.btn.btn-sm.btn-basic.btn-block {
    background-color: rgb(196, 193, 193);
    font-weight: 500;
    
}


a {
    color: #ffffff;
    text-decoration: none;
}

.dropbtn:hover {
    color: white;
}



.navbar-brand {
    align-items: center;
    display: flex;
    font-size: 25px;

}

.navbar-brand>img {
     display: inline; 
     margin-right: 10px;
    
}

a {
    color: #ffffff;
    text-decoration: none;
    float:right;
    padding-top:5px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    background-color: #004C97;
    border-radius:0px;
}
.navbar-brand:hover {
    color: white;
}
.nav-item:hover {
    color:rgb(197, 197, 197);
}

.h3, h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.btn-primary {
    color: #fff;
    background-color: #004C97;
    border-color: #004C97;
    
}

#button1 td:hover {
    background-color:white;
    
}

.table-hover>tbody>tr:hover {
    background-color: #ffffff; 
}


#button1  {
    display: flex;
  align-items: center;
  justify-content: center;
  
}

.list-group-item:last-child:hover {
    background-color: transparent;
}

.list-group {
    width: 50%;
    /*max-width: 100%;*/
    margin-bottom: 20px;
    float:left;
    
}


.entire-panel {
    width:100%;

}

.card-header {
font-size: 18px;
text-align: center;
}





#createButton {
    margin-top: 10px;
    float:none;
   }
#inviteButton {
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    display:flex;
    margin-left: 40%;
    margin-right: 40%
}

#joinButton {

    float:right;
}

a:hover {
    color:rgb(197, 197, 197);
    text-decoration: none;
}

.card-text {
    text-align: center;
}

#signUpButton {
    font-size: 16px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display:flex;
    width: 100%;
    height: 40px;
    
}

#b1 {
    background-color: rgb(173, 173, 173);
    border-color: rgb(173, 173, 173);
    width:100%;
    margin-top:5px;
    font-size:14px;
    color: black;
    
}

.mx-auto col-sm-8 col-md-5 hide-sm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

/*Carousel stuffs*/
#carousel {

    margin-top: 0px;

}

.carousel {
    height: 500px;
    margin-bottom: 0px;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    width: 100%;
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

@media (min-width: 768px) {
    .carousel-caption p {
            margin-bottom: 20px;
            font-size: 21px;
            line-height: 1.4;
    }
}

/*End carousel stuffs*/

#teamName {
    text-align:center;
    background-color: #004C97;
    color: white;
}

.bg-light {
    background-color: #004C97!important;
    
}

#leagueDetail {
    margin-top:20px;
    
}

.navbar-brand {
    color: white!important;
}

.navbar-light .navbar-toggler {
    border-color:white!important;
    color: white!important;
}
 
 
.navbar-toggler .navbar-toggler-icon {
    border-color:white!important;
    color: white!important;
   
}
 .dark-blue-text {
    color: white;
}
.navbar-toggler {
    color: white!important;
    border-color: white!important;
  }

 

.navbar-nav {
    margin: 0px;
}

.navbar-nav .nav-link:hover {
    color: rgb(207, 207, 207)!important;
}
.nav-link {
    color: white!important;
}

.card-header {
    background-color: #004C97;
    margin-top: 0px;
   color: white;
  
}

#card1 {
    text-align:center;
}

.list-group-item {
    text-align: left;
}

#pendListItem {
    width: 100%;
    
}

.card-body {
    text-align:center;
}

#inviteButton {
        margin-top: 10px;
        float:none;
       
}

.card {
    border-left: none;
    border-right:none;
   
}

div .card-body {
    padding: 0px;
}

#draft{ 
	font: normal 13px/20px Arial, Helvetica, sans-serif; word-wrap:break-word;
	color: #eee;
	background: white;
}

div #tiles {
    position: relative;
    margin-top: -10px;
}
#countdown{
	width: 465px;
	height: 145px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    margin: auto;
    margin-top: 20px;
	padding: 24px 0;
	position: relative;
  top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
}

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font: bold 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 100%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: white;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}

#draftHeader {
    margin-top: 15px;
    color:black;
    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Create two equal columns next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}