
.text-center {
    text-align: center!important;
}

.text-center{
    
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background: linear-gradient(to bottom,#fff 50%,#D1DEEC);
}

body {
    background: linear-gradient(to bottom,#fff 50%,#D1DEEC);
    
}

.text-center {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: white;
}

/*html, body {
    height: 100%;
}*/

.text-center, ::after, ::before {
    box-sizing: border-box;
}


/*body .text-center{
    display: block;
    margin: 8px;
}*/

.form-signin {
    
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    
    
}

.form-signin .checkbox {
    font-weight: 400;
}

.mb-4, .my-4 {
    margin-bottom: 0px;
}

 .font-weight-normal {
   font-weight: 500!important;
    color: #004C97;}

/*extra*/
.text-center {
    text-align: center!important;
}

.text-center{
    
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background: linear-gradient(to bottom,#fff 50%,#D1DEEC);
}

body {
    background: linear-gradient(to bottom,#fff 50%,#D1DEEC);
    
}

.text-center {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: white;
}

html, body {
    height: 100%;
}

.text-center, ::after, ::before {
    box-sizing: border-box;
}

.text-center, ::after, ::before {
    box-sizing: border-box;
}

body .text-center{
    display: block;
    margin: 8px;
}

.form-signin {
    
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    
    
}

.form-signin .checkbox {
    font-weight: 400;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.font-weight-normal {
    font-weight: 400!important;
}

.btn-primary {
    color: #fff;
    background-color: #004C97;
    border-color: #004C97;
}


button.btn.btn-lg.btn-primary.btn-block {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #004C97;
    border-color: #004C97;
    box-shadow: inset 0 1px 0 rgba(151,203,255,.15), inset 0 -1px 0 rgba(0,98,195,.6), 0 4px 16px -5px rgba(0,98,195,.5)
}

button.btn.btn-sm.btn-basic.btn-block {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 193, 193);
    font-weight: 500;
    box-shadow: inset 0 1px 0 rgba(151,203,255,.15), inset 0 -1px 0 rgba(158, 170, 182, 0.6), 0 4px 16px -5px rgba(169, 178, 187, 0.5)
}

button.btn.btn-sm.btn-basic.btn-block {
    background-color: rgb(196, 193, 193);
    font-weight: 500;
    
}


a {
    color: #ffffff;
    text-decoration: none;
}

.dropbtn:hover {
    color: white;
}



.navbar-brand {
    align-items: center;
    display: flex;
    font-size: 25px;

}

.navbar-brand>img {
     display: inline; 
     margin-right: 10px;
    
}

a {
    color: #ffffff;
    text-decoration: none;
    float:right;
    padding-top:5px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    background-color: #004C97;
    border-radius:0px;
}
.navbar-brand:hover {
    color: white;
}
.nav-item:hover {
    color:rgb(197, 197, 197);
}

.h3, h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.btn-primary {
    color: #fff;
    background-color: #004C97;
    border-color: #004C97;
    
}

#button1 td:hover {
    background-color:white;
    
}

.table-hover>tbody>tr:hover {
    background-color: #ffffff; 
}


#button1  {
    display: flex;
  align-items: center;
  justify-content: center;
  
}

.list-group-item:last-child:hover {
    background-color: transparent;
}

.list-group {
    width: 50%;
    /*max-width: 100%;*/
    margin-bottom: 20px;
    float:left;
    
}


.entire-panel {
    width:100%;
}

.card-header {
font-size: 18px;
text-align: center;
}

#card1 {
    float:left;
    width:50%;
}

#inviteButton {
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    display:flex;
    margin-left: 40%;
    margin-right: 40%
}

#joinButton {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display:flex;
    margin-left: 40%;
    margin-right: 40%
}

a:hover {
    color:rgb(197, 197, 197);
    text-decoration: none;
}

.card-text {
    text-align: center;
}

#signUpButton {
    font-size: 16px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display:flex;
    width: 100%;
    height: 40px;
    
}

#b1 {
    background-color: rgb(173, 173, 173);
    border-color: rgb(173, 173, 173);
    width:100%;
    margin-top:5px;
    font-size:14px;
    color: black;
    
}

.mx-auto col-sm-8 col-md-5 hide-sm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

/*Carousel stuffs*/
#carousel {

    margin-top: 0px;

}

.carousel {
    height: 500px;
    margin-bottom: 60px;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    width: 100%;
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

@media (min-width: 768px) {
    .carousel-caption p {
            margin-bottom: 20px;
            font-size: 21px;
            line-height: 1.4;
    }
}

/*End carousel stuffs*/

#teamName {
    text-align:center;
}